<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tripstudio</title>
  </head>
  <body>
    <div class="center jumbotron">
     <h1>旅先の写真をシェアしよう！</h1>
     <h2>このサイトは旅行先の写真を投稿できるサイトです</h2>
       <%= link_to "登録はこちら", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
